:root {
    --var-bg: #fff;
    --var-gray-bg: #edeae7;
    --var-dark-gray: rgba(23, 23, 23, 0.8);
    --var-black: #171717;
    --var-dark: #424242;
    --var-red: #488ac7;
    --var-red-hover: rgba(225, 48, 45, .6);
    --var-light: rgba(67, 55, 35, .4);
    --var-main-header: 40px;
    --var-sub-header: 20px;
    --var-big-p: 25px;
    --var-medium-p: 16px;
    --var-small-p: 12px;
}

@media (max-width:1400px) {
    #product {
        height: 110vh !important;
    }
}

@media (min-width: 1024px) and (max-width:1200px) {
     :root {
        --var-main-header: 38px;
        --var-sub-header: 18px;
        --var-big-p: 24px;
        --var-medium-p: 15px;
        --var-small-p: 11px;
    }
    .container {
        width: 1050px;
        margin: auto;
    }
    #main {
        .container {
            .main__content {
                .main__text {
                    .certified__img {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .main__img {
                    .img1,
                    .img2 {
                        width: 150px;
                    }
                }
            }
        }
    }
    #quotes .container .quotes__content {
        width: 85%;
    }
    #about .container .about__content .about__img {
        width: 315px;
        height: 430px;
        border-radius: 5px;
    }
    #deal .container .deal__box {
        grid-gap: 100px !important;
    }
    footer #contact .container .contact__content {
        width: 85%;
    }
}

@media (min-width: 900px) and (max-width:1024px) {
     :root {
        --var-main-header: 38px;
        --var-sub-header: 18px;
        --var-big-p: 24px;
        --var-medium-p: 15px;
        --var-small-p: 11px;
    }
    .container {
        width: 950px;
    }
    #main {
        .container {
            .main__content {
                .main__text {
                    .certified__img {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .main__img {
                    .img1,
                    .img2 {
                        width: 150px;
                    }
                }
            }
        }
    }
    #quotes .container .quotes__content {
        width: 85%;
    }
    #about .container .about__content .about__img {
        width: 315px;
        height: 430px;
        border-radius: 5px;
    }
    #deal .container .deal__box {
        grid-gap: 70px !important;
    }
    footer #contact .container .contact__content {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width:900px) {
     :root {
        --var-main-header: 36px;
        --var-sub-header: 17px;
        --var-big-p: 23px;
        --var-medium-p: 14px;
        --var-small-p: 10px;
    }
    .container {
        width: 830px;
    }
    #main {
        .container {
            .main__content {
                .main__text {
                    .certified__img {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .main__img {
                    .img1,
                    .img2 {
                        width: 150px;
                    }
                }
            }
        }
    }
    #quotes .container {
        flex-direction: column;
        .quotes__content {
            width: 85%;
        }
        .quote__img {
            margin: 20px auto 0 auto;
        }
        .quotes__content {
            width: 100% !important;
        }
    }
    #deal .container .deal__box {
        grid-gap: 35px !important;
    }
    #about .container .about__content .about__img {
        width: 300px;
        height: 420px;
        border-radius: 5px;
    }
    footer #contact .container .contact__content {
        width: 100%;
    }
}

.toggle {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 45px;
    font-size: 30px;
}

@media (max-width: 820px) {
    .container {
        width: 680px;
    }
}

@media (max-width:768px) {
     :root {
        --var-main-header: 33px;
        --var-sub-header: 17px;
        --var-big-p: 20px !important;
        --var-medium-p: 14px !important;
        --var-small-p: 10px;
    }
    // .toggle {
    //     visibility: visible;
    //     position: absolute;
    //     right: 10px;
    //     top: 30px;
    // }
    .toggle {
        visibility: visible;
    }
    .nav__logo {
        position: absolute;
        top: 0px !important;
        left: 60px !important;
    }
    .nav__links {
        display: none;
        transform: translate(2000px, 2000px);
        a {
            font-size: 40px;
        }
    }
    #main {
        margin-top: 30px;
    }
    #deal .container .deal__box {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 35px !important;
        place-items: center;
        .deals {
            width: 300px;
        }
    }
    .container {
        width: 680px !important;
        padding: 5px !important;
        &.active {
            .navbar {
                position: fixed !important;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                background: var(--var-bg);
                display: block !important;
                z-index: 9999;
                .nav__links {
                    display: block;
                    flex-direction: column;
                    transform: translate(0, 0);
                    &:first-child {
                        margin-top: 100px;
                    }
                    ul {
                        flex-direction: column;
                        place-items: center;
                        li {
                            border: none;
                            border-top: none;
                            text-align: center;
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
    }
    .copy__right {
        .medium__p {
            text-align: center;
        }
    }
    nav .nav__content .container .nav__logo {
        position: absolute;
        // top: 65%;
        // left: 5%;
        img {
            width: 85px;
        }
    }
    #main {
        .container {
            .main__content {
                .main__text {
                    .certified__img {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .main__img {
                    .img1,
                    .img2 {
                        width: 150px;
                    }
                }
            }
        }
    }
    #quotes .container .quotes__content {
        width: 95%;
        margin: 0;
    }
    #about {
        margin-bottom: 10px;
        .container .about__content {
            padding: 20px 0;
            .about__img {
                width: 300px;
                height: 420px;
                border-radius: 5px;
            }
            .about__text {
                .main__header {
                    margin-bottom: 5px;
                    width: 70vw;
                }
                .btn {
                    visibility: hidden;
                }
            }
            .about__img {
                width: 300px !important;
                height: 300px !important;
                margin-left: 30px;
            }
        }
    }
    footer #contact .container .contact__content .contact__info {
        display: flex;
        grid-gap: 25px;
        .info .info__text p {
            font-size: 14px;
        }
    }
}

@media (min-width: 480px) and (max-width:600px) {
     :root {
        --var-main-header: 30px;
        --var-sub-header: 17px;
        --var-big-p: 23px;
        --var-medium-p: 14px;
        --var-small-p: 10px;
    }
    .container {
        width: 550px !important;
    }
    .copy__right {
        .medium__p {
            text-align: center;
        }
    }
    // .toggle {
    //     right: 5% !important;
    // }
    .buy__btn {
        padding: 20px 45px !important;
    }
    #about .container .about__content .about__img {
        height: 220px !important;
    }
    #main {
        .container {
            .main__content {
                grid-template-columns: 1fr;
                .main__text {
                    width: 100%;
                    .certified__img {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .main__img {
                    .img1,
                    .img2 {
                        width: 150px;
                        display: none;
                    }
                }
            }
        }
    }
    #about .container .about__content {
        flex-direction: column;
        .about__img {
            width: 300px;
            height: 420px;
            border-radius: 5px;
        }
        .about__text {
            width: 100%;
        }
    }
    footer #contact .container .contact__content {
        width: 100%;
        .sub__header {
            font-size: 25px;
        }
        .contact__info {
            display: flex;
            flex-direction: column;
            width: 65%;
            margin: 20px auto 0 auto;
        }
    }
}

@media (min-width: 360px) and (max-width:480px) {
     :root {
        --var-main-header: 30px;
        --var-sub-header: 17px;
        --var-big-p: 23px;
        --var-medium-p: 14px;
        --var-small-p: 10px;
    }
    .container {
        width: 400px !important;
    }
    .nav__logo {
        position: absolute;
        // left: 10% !important;
    }
    // .toggle {
    //     left: 80vw;
    // }
    .buy__btn {
        padding: 20px 45px !important;
    }
    #about .container .about__content .about__img {
        height: 220px !important;
    }
    #main {
        .container {
            .main__content {
                grid-template-columns: 1fr;
                .main__text {
                    width: 100%;
                    .certified__img {
                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
                .main__img {
                    .img1,
                    .img2 {
                        width: 150px;
                        display: none;
                    }
                }
            }
        }
    }
    #quotes .container .quotes__content {
        width: 90%;
    }
    #about .container .about__content {
        flex-direction: column;
        .about__text {
            width: 100%;
            .btn {
                visibility: hidden;
            }
        }
        .about__img {
            width: 300px !important;
            height: 400px !important;
            margin: auto;
            border-radius: 5px;
        }
    }
    footer #contact .container .contact__content {
        width: 100%;
        .sub__header {
            font-size: 25px;
        }
        .contact__info {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 20px auto 0 auto;
            .info {
                justify-content: center;
                width: 80%;
                i {
                    margin: auto 0;
                }
            }
        }
    }
}

// product
@media (max-width:900px) {
    #product {
        height: 80vh;
    }
    #product .container .card__box .card .front img,
    #product .container .card__box .card .front,
    #product .container .card__box .card .back {
        width: 220px;
        height: 310px;
    }
}

@media (max-width:900px) {
    #product {
        height: 110vh !important;
        .container .card__box {
            margin-top: 10px;
            grid-gap: 0;
        }
    }
    #product .container .card__box .card .front img,
    #product .container .card__box .card .front,
    #product .container .card__box .card .back {
        width: 180px;
        height: 280px;
    }
}

@media (max-width:768px) {
    #product {
        height: 155vh !important;
        .container .card__box {
            grid-gap: 0;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    #product .container .card__box .card .front img,
    #product .container .card__box .card .front,
    #product .container .card__box .card .back {
        width: 180px;
        height: 280px;
    }
}

@media (max-width:600px) {
    #product {
        height: 190vh !important;
        .container .card__box {
            grid-gap: 0;
            grid-template-columns: repeat(2, 1fr);
            .card {
                height: 325px;
                display: flex;
                justify-content: center;
            }
        }
    }
    #product .container .card__box .card .front img,
    #product .container .card__box .card .front,
    #product .container .card__box .card .back {
        width: 180px;
        height: 280px;
    }
}

@media (max-width:480px) {
    #product {
        height: 360vh !important;
        .container .card__box {
            grid-gap: 0;
            grid-template-columns: repeat(1, 1fr);
            .card {
                height: 325px;
                display: flex;
                justify-content: center;
            }
        }
    }
    #product .container .card__box .card .front img,
    #product .container .card__box .card .front,
    #product .container .card__box .card .back {
        width: 200px;
        height: 280px;
    }
}

@media (max-width:360px) {
     :root {
        --var-main-header: 30px;
        --var-sub-header: 17px;
        --var-big-p: 23px;
        --var-medium-p: 14px;
        --var-small-p: 10px;
    }
    #product {
        height: 360vh !important;
    }
    .container {
        width: 325px !important;
        .card__box {
            margin-top: 30px;
        }
    }
    .contact__input {
        display: flex;
    }
    // 
}

// Blog
@media (max-width: 900px) {
    #blog .container .blog__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
}

@media (max-width: 700px) {
    #blog .container .blog__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
}

@media (max-width: 480px) {
    #blog .container .blog__box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }
}